<?xml version="1.0"?>

<launch>
  
  
    
    
  <node pkg="pandora_geotiff" type="geotiff_node" name="pandora_geotiff_node" output="screen" >
    
    
     <param name="plugins" type="string"
    value="pandora_geotiff_plugins/MapCoverageWriter pandora_geotiff_plugins/PathWriter pandora_geotiff_plugins/ObjectsWriter"/>
    
  </node>

</launch>

